html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Style Header */

header {
  margin: 0 auto;
  background-image: url('glasses-bg.png');
  background-size: cover;
  background-position: center;
}

#banner {
  height: 30rem;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;

}

.subcontainer {
  background-color: cadetblue;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.subcontainer img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

#banner .box {
  font-size: 1rem;
  color: white;
  display: inline-flex;
  align-items: center;
}

nav li {
  display: inline;
  padding: 1rem 2rem;
}

#tagline {
  background-color: white;
  width: 60%;
}

#tagline h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  padding: 1.5rem 5rem;
}

a {
  color: white;
  text-decoration: none;
}

#menu2 {
  display: none;
}

/* Style Body */

#content {
  /*border: 1px dashed black;*/
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

/* not meeting spec sheet exactly here, but defining a fixed
height of 8rem breaks the design at the desktop size */

#services {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  margin-bottom: 3rem;
}

#content .box {
  padding-right: 6rem;
}

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  /*border: 1px dashed black;*/
  /*margin-bottom: 5rem;*/
}

#contact .box {
  /*border: 1px dashed red;*/
  width: 35%;
  margin-right: 5%;
}

#contact h2 {
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
}

/*Style Footer*/

footer {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

footer img {
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

footer p {
  margin: 4rem 0rem 4rem 1rem;
}

/* Tablet Sized Break Points */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    height: auto;
  }

  header {
    background-position: 36%;
  }

  #banner {
    width: 100%;
    height: 22rem;
  }

  nav li {
    padding: 0.75rem;
  }

  .subcontainer {
    margin-bottom: 5rem;
  }
  #tagline {
    margin-right: 2rem;
  }
  #tagline h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

  #content .box {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #services img{
    max-width: 100%;
    height: auto;
  }
}

/* Phone Sized Break Points */

@media only screen and (max-width: 480px) {
  #menu1 {
    display: none;
  }
  #menu2 {
    display: inline;
  }
  .container {
    width: 100%;
  }

  #content .box {
    padding: 0rem;
  }


  #services {
    /*width: 100%;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*height: auto;*/
  }


}
